body {
    margin: 2em;
    background-color: #41B3A3;
    color: white;
}

h1 {
    text-align: center;
    font-size: 36px;
}

hr {
    width: 15%;
}

.pet {
    display: inline-block;
    margin: 1em;
    font-size: 18px;
    text-align: center;
}

.pet-name {
    color: #C38D9E;
    font-weight: bold;
}

label {
    display: inline-block;
    width: 5%;
    text-align: left;
}

.add {
    color: white;
    text-decoration: none;
    margin: 1em;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #E8A87C;
}
