body {
    margin: 2em;
    background-color: #5CDB95;
    color: white;
}

h1 {
    text-align: center;
    font-size: 36px;
}

hr {
    width: 15%;
}

.pet {
    display: inline-block;
    margin: 1em;
    font-size: 18px;
    text-align: center;
}

.pet-name {
    color: #05386B;
    font-weight: bold;
}

label {
    display: inline-block;
    width: 5%;
    text-align: left;
}

.add, 
button {
    color: white;
    text-decoration: none;
    margin: 1em;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #379683;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

div {
    margin: 15px;
}

.pet-inputs,
hr {
    background-color: rgb(237, 245, 225, .9);
    border: 1px solid white;
}

button:hover,
.add:hover {
    text-decoration: underline;
}

.form-title {
    text-align: left;
}
