{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<h1>Pets</h1>
<hr>

{% for pet in pets %}
<div class="pet">
    <img src="{{pet.photo_url}}" alt="{{pet.name}}" width="175px"/>
    <p><span class="pet-name">{{pet.name}}</span>
            {% if pet.available %}
            <b>is available!</b>
            {% else %}
            is not available.
            {% endif %}
    </p>
</div>
{% endfor %}

<div><a class="add" href="/add">Add Pet</a></div>

{% endblock %}
